:root {
    --font-color: rgb(245, 245, 245);
}

/* css resets */

*, html, body, a, ul {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

@font-face {
    font-family: "lack";
    src: url('../assets/webfonts/lack-regular-webfont.woff2') format('woff2'),
         url('../assets/webfonts/lack-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    font-family: "lack", sans-serif;
    min-height: 100vh; 
}

main {
    background-color: rgba(128, 138, 146, 0.6);
    color: var(--font-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
    padding: 20px 2%;
    overflow-y: auto;
    width: 100vw;
}

.search-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.search-container input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--font-color);
    font-size: 1.2rem;
    padding: 3px;
    width: 300px;
}

.search-container input[type=text]:focus {
    outline: none;
}

.search-container a {
    font-size: 1.8rem;
    margin-left: 10px;
}

.button-container {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.button-container button,
.modal-background button {
    background-color: transparent;
    border: none;
    font-family: 'lack', sans-serif;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/* Top forecast sections */

.current-forecast-container {
    display: flex;
    justify-content: space-between;
}

.current-headlines p {
    font-size: 2.8vh;
}

.current-headlines p:nth-of-type(2) {
    font-size: 2vh;
}

.current-headlines h1 {
    font-size: 5vh;
}

.current-extras {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-extras .extras-grid {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.extras-grid .extras-title,
.extras-grid .extras-data {
    font-size: 2.8vh;
    min-height: 2.8vh;
    text-align: right;
    width: 100%
}

.extras-grid .extras-title {
    grid-area: 1 / 1/ 2 / 2; 
}

.extras-grid .extras-data {
    grid-area: 2 / 1 / 2 / 2;
}

.extras-grid .extras-icon {
    font-size: 3vh;
}

/* Bottom forecast sections */

.daily-forecast-container {
    width: 100%;
}

.daily-forecast-container .card-stack {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 10px;
    margin-top: 20px;
}

.card-stack .card {
    border-left: 1px solid var(--font-color);
    flex-grow: 1;
    padding: 10px; 
    width: 100%;
}

.card p {
    font-size: 2.4vh;
}

.card h1 {
    font-size: 4vh;
}

.card i {
    font-size: 3.5vh;
}

/* loading styles */

@keyframes loading-animation {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(359deg)
    }
}

.loading-background,
.modal-background {
    align-items: center;
    background-color: rgba(165, 177, 187, 0.6);
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.loading-background i {
    animation: loading-animation 2.5s infinite;
    font-size: 5rem;
}

.modal-background p {
    font-size: 2.8vh;
}

.modal-background button {
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 3px 6px;
}