/* css resets */

*, html, body, a, ul {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "moonless";
    src: url('../assets/webfonts/moonlesssc-regular_1-webfont.woff2') format('woff2'),
         url('../assets/webfonts/moonlesssc-regular_1-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "moonless", sans-serif;
    min-height: 100vh; 
}

.layout-wrapper {
    display: flex;    
}

main {
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}

/* Nav section */

nav {
    background-color: #B73E3E;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    min-height: 100vh;
    min-width: 350px;
    padding: 10px;
}

header {
    display: grid;
    font-size: 1.8rem;
    padding: 10px;
    place-items: center;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 5px 10px;
    width: 100%;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container button {
    flex-grow: 1;
    width: 40%;
}

button {
    background-color: rgb(255, 231, 204);
    border: 1px solid black;
    border-radius: 5px;
    font-family: "moonless", sans-serif;
    font-size: 1.3rem;
    padding: 3px 13px;

    transition: ease-in-out all .1s;
    -webkit-transition: ease-in-out all .1s;
    -moz-transition: ease-in-out all .1s;
    -o-transition: ease-in-out all .1s;
}

button:hover {
    background-color: rgb(185, 161, 134);
}

/* Startup section */

.startup-container {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    width: 100%;
}

.startup-container .search-button {
    margin-left: 10px;
}

.startup-container input[type=text] {
    width: 350px;
}

/* Forecast section */

.forecast-container {
    flex-grow: 1;
}

.current-forecast-container {
    background-color: rgba(255, 185, 104, 1);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    height: 400px;
}

.current-forecast-image {
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 65%;
}

.current-forecast-info {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 20px;
}

.current-forecast-info .para-location {
    font-size: 4rem;
}

.current-forecast-info .para-temp {
    font-size: 3.2rem;
}

.current-forecast-info .para-weather {
    margin-top: 10px;
}

.forecast-card-stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.forecast-card {
    background-color: rgba(255, 185, 104, 1);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 300px;
}

.card-image {
    background-position: center;
    background-size: cover;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.forecast-card .card-info {
    padding: 10px;
}

.forecast-card .para-date {
    font-size: 2rem;
}

.forecast-card p {
    font-size: 1.5rem;
}

/* Loading */

@keyframes rotating-animation {
    0% {
        transform: rotate(0deg);
    }
    99% {
        transform: rotate(359deg)
    }
}

.loading-container {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
}

.loading-icon {
    background-image: url('../assets/images/loading-icon.png');
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;

    animation: rotating-animation 2s infinite linear;
}

/* Modals */

.modal {
    background-color: #B73E3E;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: rgb(255, 231, 204);
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

.modal p:first-of-type {
    margin-bottom: 10px;
}